body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
  font-family: Work Sans,sans-serif;
}

.navbar {
  height: 60px;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .left {
  font-size: 2rem;
  margin-left: 20px;
}

.navbar .left img {
  max-width: 170px;
}

.navbar .side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.navbar .right .start {
  border: 1px solid #501dff;
  border-radius: 50px;
  padding: 10px 15px;
}

.navbar .right {
  color: #501dff;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: #d5e0e3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero .upper {
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.hero h1 {
  font-size: 50px;
  margin: 0px;
  color: rgb(19, 14, 65);
}

.hero .subheader {
  color: rgb(64, 50, 185);
}

.hero button {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  background-color: rgb(64, 50, 185);
  color: white;
  font-weight: 600;
}

.body {
  height: 200vh;
  padding-left: 10px;
  padding-right: 10px;
}

.body .subheader {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-top: 40px;
}

.body h1 {
  font-size: 40px;
  margin: 0px;
  color: rgb(19, 14, 65);
}

.body .features {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  color: rgb(19, 14, 65);
}

.body .features .feature {
  max-width: 250px;
  text-align: center;
}

.body .features .feature h3 {
  font-size: 27px;
}