body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
  font-family: Work Sans,sans-serif;
}

.body {
  height: 200vh;
  padding-left: 10px;
  padding-right: 10px;
}

.body .subheader {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-top: 40px;
}

.body h1 {
  font-size: 40px;
  margin: 0px;
  color: rgb(19, 14, 65);
}

.body .features {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  color: rgb(19, 14, 65);
}

.body .features .feature {
  max-width: 250px;
  text-align: center;
}

.body .features .feature h3 {
  font-size: 27px;
}